{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "tailwind.config.ts",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
