@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* TODO: change css avoid override css */
.send-like-custom-modal .ant-modal-content {
    padding: 10px !important;
    border-radius: 12px !important;
}
